html {

}
label {
    margin: 0;
}
.padding-0 {
    padding: 0 !important;
}
#payment {

}
.payment {
    /* padding: 30px 0 50px 0; */
}
/* payment left */
.payment-left {
    border-right:  1px solid #ccc;
    padding: 30px 70px 50px 0;
}
.payment-header {

}
.payment-header > a {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-weight: bold;
}
.payment-header a h3 {
    font-size: 30px;
}
.payment-header ul {
    list-style-type: none;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0 2px 0;

}
.payment-header ul li {
    
}
.payment-header ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.payment-header ul li + li::before {
    display: inline-block;
    padding-right: 4px;
    padding-left: 4px;
    color: #000;
    content: "/";
}
.payment-header h5 {
    font-weight: 600;
    /* letter-spacing: 1px; */
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 20px;
    color: #000;
}
.payment-left-input {
    width: 100%;
    margin: 10px 0 0 0;
}
.payment-left-input label {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    margin: 0 0 2px 0;
    display: block;
}
.payment-left-input input {
    width: 100%;
    height: 45px;
    padding: 10px 10px 10px 16px;
    font-size: 17px;
    border-radius: 5px;
    display: block;
    line-height: 1.5;
    color: black;
    border: #d9d9d9 1px solid;
    transition: all 1s ease-out;
    background-color: #f1f1f1;
    box-sizing: border-box;
    word-break: normal;
}
.payment-left-input textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    border-radius: 5px;
    display: block;
    line-height: 1.5;
    color: black;
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    transition: all 1s ease-out;
    letter-spacing: 1px;
}
.payment-left-input input:focus,
.payment-left-input textarea:focus { 
    box-shadow: 0 0 0 2px #338dbc;
    outline: none;
    background-color: #fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.payment-left h3 {
    font-weight: 600;
    /* letter-spacing: 1px; */
    padding: 20px 0 0 0;
    font-size: 18px;
    color: #000;
}

.select-form {
    margin-bottom: 20px;
}
.select-form:nth-child(1) {
    padding-left: 0;
}
.select-form:nth-child(2) {
    padding-right: 0;
}
select {
    width: 100%;
    color: rgb(35, 35, 35);
    outline: 1px solid #ccc;
    font-size: 1rem;
    line-height: 2.15;
    min-height: auto;
    padding: 0.5em 0.75em;
    border: 0;
    background: transparent;
    transition: all .2s linear;
    border-radius: 4px;
    cursor: pointer;
}
.select-form .select_city {
    background-color: #f5f5f5;
    color: #6d6d6d;
    cursor: no-drop;
}
option {
    font-size: 1rem;
    color: rgb(35, 35, 35);
}

/* Phương thức thanh toán */
.section {
    width: 100%;
    margin-bottom: 50px;
}
.section .content-box {
    /* border: 1px solid #d9d9d9; */
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}
.radio-wrapper {
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
}
.radio-wrapper .radio-label {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 1.3em;
    width: auto;
    position: relative;
}
.radio-wrapper .radio-input {
    display: table-cell;
    /* padding-right: 0.75em; */
    white-space: nowrap;
    margin-left: -21px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.radio-wrapper .radio-input input[type="radio"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.radio-wrapper .radio-content-input {
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.radio-content-input i {
    font-size: 25px;
}
.radio-content-input .radio-label-primary {
    margin-left: 15px;
    font-size: 15px;
    color: #000;
    font-weight: 500;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 35%;
    left: 5%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.radio-wrapper:hover input ~ .checkmark {
    /* background-color: #ccc; */
}
input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
input:checked ~ .checkmark:after {
    display: block;
}
.checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.payment-button {
    display: inline-block;
}
.payment-button-cart {
    float: left;
}
.payment-button-cart a {
    font-size: 14px;
    border-radius: 5px;
    padding: 9px 25px 10px 25px;
    border: #00b214 2px solid;
    color: #00b214;
    background-color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.payment-button-cart a:hover {
    color: #009411;
}
.payment-button-order {
    float: right;
}
.payment-button-order input {
    height: 34px;
    border-radius: 5px;
    background-color: #2196F3;
    border: 1px;
    color: #fff;
    font-size: 14px;
    padding: 0px 30px 0px 30px;
    font-weight: 500;
    cursor: pointer;
}
.payment-button-order input:hover {
    background-color: #338dbc;
}

.attention {
    color: red;
    font-size: 12px;
}
/* payment right */
.payment-right {
    padding: 30px 0px 50px 70px;
}

.payment-right-content {
    width: 100%;
    height: 90%;
    /* background-color: bisque; */
    /* margin-left: 50px; */
    float: left;
}
.payment-right-content .list-product {
    overflow-y: auto;
    max-height: 350px;
    min-height: 110px;
}
.list-product table {
    margin-bottom: 10px;
}
table tr {
    
}
table td {
    /* border: #000 1px solid; */
    padding: 8px 10px 8px 10px;
    position: relative;
}
table tr td img {
    width: 60px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}
table tr .img-product label {
    width: 25px;
    height: 24px;
    background-color: #1d8fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
table .img-product {
    width: 100px;
    padding-left: 0px;
}
table .name-product {
    width: 70%;
    padding-left: 15px;
}
table .price-product {
    width: 30%;
    padding-right: 4px;
}
table .price-product label {
    float: right;
}
.payment-right-content .payment-right-sale {
    padding-top: 10px;
    margin-bottom: 20px;
}
.payment-right-sale .ma-sale {
    width: 70%;
    margin-top: 10px;
    height: 45px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    line-height: 1.5;
    color: black;
    border: #d9d9d9 1px solid;
    transition: all 0.2s ease-out;
    background-color: #fff;
    box-sizing: border-box;
    word-break: normal;
    letter-spacing: 1px;
}
.payment-right-sale .ma-sale:focus {
    box-shadow: 0 0 0 2px #338dbc;
    outline: none;
    background-color: #fff;
}
.payment-right-sale .su-dung {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    height: 45px;
    width: 25%;
    font-size: 16px;
    background-color: #1877f2;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.payment-right-sale .su-dung:hover {
    opacity: 0.9;
}
.payment-right-sale .list_sale {
    margin-top: 10px;
    height: 45px;
    width: 100%;
    font-size: 17px;
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.payment-right-sale .list_sale:hover {
    cursor: pointer;
    background-color: #237ff8;
}
.price-sum {
    margin-top: 20px;
    margin-bottom: 20px;
}
.price-sum p {
    display: inline-block;
    line-height: 30px;
    color: #9e9e9e; 
    font-size: 15px;
}
.price-sum .price {
    float: right;
    color: #000;
}
.tongcong {
    margin-top: 20px;
    margin-bottom: 100px;
}
.tongcong p {
    display: inline-block;
    line-height: 30px; 
    font-size: 18px;
}
.tongcong .price1 {
    float: right;
    color: #000;
    font-size: 25px;
}

/* Modal */
.modal-body-content {
    min-height: 100px;
    max-height: 350px;
    overflow-y: auto;
}
.modal-body-content table {
    width: 100%;
    text-align: center;
    position: relative;
}
.modal-body-content table .table-fixed-top {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #ccc;
    width: 100%;
}
.modal-body-content table tr th {
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
}
.modal-body-content table tr td {
    font-size: 12px;
    text-align: center;
}
.modal-body-content table .table-border-bottom {
    border-bottom: 1px solid #ccc;
}
.modal-body-content table .table-border-bottom:last-child {
    border-bottom: 0;
}





